################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AITest/Debug
/AITest/.vs/AITest/v16
/.vs
